    <!DOCTYPE html>  
    <html>  
    <head>  
        <title>Add Member</title>  
    </head>  
    <body>  
        <h2>Member Information</h2>   
        <form action = "/savedetails" method="post">  
        <table>  
            <tr><td>Full Legal Name</td><td><input type="text" name="fullName"></td></tr>  
            <tr><td>Prefered Name</td><td><input type="text" name="prefName"></td></tr>  
            <tr><td>Email</td><td><input type="email" name="email"></td></tr>  
            <tr><td><input type="submit" value="Submit"></td></tr>  
        </table>  
        </form>  
    </body>  
    </html>  
