    <!DOCTYPE html>  
    <html>  
    <head>  
        <title>Femman MemberShip Administration</title>  
    </head>  
    <body>  
        <h2>Hi, welcome to the website</h2>  
        <a href ="/view">Member list</a><br><br>  
        <a href ="/viewFull">Admin Member list</a><br><br>  
        <a href="/add">Add Member</a><br><br>  
        <a href="/edit">Edit Member</a><br><br>  
        <a href="/ban">Ban/unban Member</a><br><br>  
        <a href="/delete">Delete Member</a><br><br>  
    </body>  
    </html>  
