    <!DOCTYPE html>  
    <html>  
    <head>  
        <title>Ban/unban Member</title>  
    </head>  
    <body>  
      
        <h3>Ban/unban member from the list</h3>  
      
    <form action="/banrecord" method="post">  
    Member Id <input type="text" name="id">  
<p> </p>

 <input type="radio" id="ban" name="action" value="ban">
  <label for="ban">ban</label><br>

  <input type="radio" id="unban" name="action" value="unban">
  <label for="unban">unban</label><br>


<p> </p>
    <input type="submit" value="Submit">  
    </form>  


    </body>  
    </html>  
